* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Oswald', sans-serif;
}

body {
  max-width: 1640px;
  margin: 0 auto;
  position: relative;
}

/* nav */
/* I */
.navMobile {
  display: none;
}

.bars {
  display: none;
}

nav.navClassic {
  width: 100%;
}

ul.navList {
  list-style: none;
  display: flex;
}

li.classic {
  flex-basis: 25%;
  height: 100px;
  padding: 20px;
}

a {
  display: block;
  font-size: 35px;
  text-decoration: none;
  text-align: center;
  color: #00004F;
  font-weight: bold;
}

li:nth-child(3) {
  padding: 0;
}

a img {
  width: 250px;
}

a.active {
  color: rgb(62, 168, 12)
}

/* II */
/* home */
.welcome {
  width: 100%;
  height: 100vh;
  background-image: url(./photo/lisc.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  left: 0;
  right: 0;
  color: white;
  position: relative;
  border-top: 5px solid rgba(20, 101, 223);

}

.welcometxt {
  position: absolute;
  top: 30vh;
  left: 0;
  font-size: 60px;
  text-align: center;
  color: white;
  background-color: rgba(0, 0, 0, 30%);
  text-shadow: 2px 2px 4px black
}

.welcometxt p {
  font-size: 35px;
  margin: 25px 100px;
}

.help {
  color: rgb(152, 193, 255);
  text-shadow: 1px 1px 0px #00004F
}


/* III */
.work {
  height: 100vh;
  border-top: 3px solid grey;
  background-color: rgb(247, 245, 245)
}

.work h1 {
  margin-top: 10px;
  font-size: 55px;
  font-weight: 900;
  padding-left: 50px;
  color:
    #00004F
}

.work p {
  padding-top: 20px;
  margin: 5px;
  font-size: 20px;
  line-height: 40px;
  text-align: center;

}

.work h2 {
  font-size: 28px;
  padding-top: 10px;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase
}

.photoWork {
  display: flex;
  height: 80vh;
  justify-content: space-around;
  align-items: flex-start;
  margin-top: 20px
}

.photoWork div {
  width: 50vh;
  height: 70vh;
  text-align: center;
  background-color: rgba(20, 101, 223);
  color: white;
  border-radius: 5px;
  box-shadow: 10px 5px 45px 0px rgba(0, 0, 0, 0.5)
}

.photoWork img {
  padding-top: 11px;
}

/* footer */
footer {
  padding-top: 5px;
  text-align: center;
  border-top: 1px solid rgb(221, 215, 215)
}

span.end {
  font-family: 'Charmonman', cursive;
}



/* part About */
/* II */
.about {
  width: 100%;
  height: 100vh;
  background-image: url(./photo/praca.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  left: 0;
  right: 0;
  color: white;
  position: relative;
  border-top: 5px solid rgba(20, 101, 223);
}

.aboutTxt {
  position: absolute;
  width: 100%;
  top: 30vh;
  left: 0;
  font-size: 60px;
  text-align: center;
  color: white;
  background-color: rgba(0, 0, 0, 30%);
  text-shadow: 2px 2px 4px black
}

/* III */
.introduction {
  border-top: 3px solid grey;
  background-color: rgb(247, 245, 245)
}

.introduction h1 {
  font-size: 55px;
  font-weight: 900;
  padding-left: 50px;
  color: #00004F
}

.introduction p {
  margin: auto 50px auto 50px;
  padding-top: 5px;
  font-size: 20px;
  line-height: 40px;

}

.introductionFlex {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-top: 45px;
}

.people {
  padding: 0px 35px 100px
}


/* part news */
.news {
  border-top: 5px solid rgba(20, 101, 223);
  background-color: rgb(247, 245, 245)
}

.news h1 {
  margin-top: 20px;
  font-size: 40px;
  font-weight: 900;
  padding-left: 50px;
  color: #00004F
}

.news h2 {
  margin: auto 50px auto 50px;
  padding-top: 5px;
  font-size: 20px;
  line-height: 40px;
  color: #00004F
}

.news p {
  margin: auto 50px auto 50px;
  padding-top: 5px;
  font-size: 20px;
  line-height: 40px;
}

.news img {
  margin-left: 50px;
}

.actualNews {
  margin: 30px;

}

.newsFlex {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-top: 40px;
  padding-bottom: 45px;
}

/* part contact */
.contact {
  width: 100%;
  height: 70vh;
  background-image: url(./photo/teamwork.jpg);
  background-repeat: no-repeat;
  background-position: center;
  left: 0;
  right: 0;
  color: white;
  position: relative;
  border-top: 5px solid rgba(20, 101, 223);
  border-bottom: 3px solid grey;
}

.contactTxt {
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 0 20px;
  text-align: center;
  top: 0;
  left: 0;
  font-size: 36px;
  text-align: center;
  color: white;
  background-color: rgba(0, 0, 0, 65%);
  text-shadow: 2px 2px 4px black
}

.container {
  display: flex;
  padding: 50px;
  background-color: rgb(247, 245, 245);
  overflow: hidden;

}

.titleContact {
  padding-top: 50px;
  font-size: 60px;
  font-weight: 900;
  padding-left: 150px;
  color: #00004F;
  background-color: rgb(247, 245, 245)
}


.socialMedia {
  width: 50vw;
  padding: 20px 50px;
}


.socialMedia a {
  font-size: 40px;
  text-decoration: none;
  color: #00004F;
  transition: 0.3s;
  text-align: left;
}

i {
  font-size: 60px;
}

.socialMedia:hover {
  text-shadow: 2px 1px 0px #00004F
}

.socialMedia a:hover {
  color: rgb(152, 193, 255);
}

/* form */
aside {
  flex: 0 100%;
}


.fastContact h2 {
  font-size: 35px;
  color: #00004F;

}

label {
  font-size: 30px;
  color: #00004F;
}

input {
  width: 340px;
  height: 50px;
}

button {
  width: 100px;
  height: 60px;
  margin: 30px 100px;
  color: #00004F;
  text-transform: uppercase;
  font-size: 30px;
  background-color: white;
  border: 2px solid rgb(70, 144, 255);
  text-shadow: 1px 1px 1px white;
  transition: 0.8s;
}

button:hover {
  background-color: rgba(20, 101, 223);
  color: white;
}

/* media queries  */
@media (min-width : 1824px) {

  /* home */
  .welcometxt {
    top: 25vh;
    font-size: 65px;
    background-color: rgba(0, 0, 0, 35%);
  }

  .welcometxt p {
    font-size: 40px;
  }

  .work h1 {
    font-size: 65px;
  }

  .work p {
    margin: 10px;
    font-size: 28px;
    line-height: 45px;
  }

  .work h2 {
    font-size: 38px;
  }

  .photoWork div {
    width: 45vh;
    height: 70vh;
  }

  .photoWork img {
    width: 420px;
    padding-top: 11px;
  }

  footer {
    font-size: 20px;
  }

  /* part About */
  .about {
    height: 80vh;
  }

  .aboutTxt {
    font-size: 70px;
  }

  .introduction h1 {
    font-size: 60px;
  }

  .introduction p {
    font-size: 28px;
  }

  /* part news */
  .news h1 {
    font-size: 50px;
  }

  .news h2 {
    font-size: 22px;
  }

  .news p {
    font-size: 25px;
    line-height: 40px;
  }

  /* part contact */
  .contact {
    background-color: black;
  }

  .contactTxt {
    background-color: rgba(0, 0, 0, 45%);
  }


  .socialMedia {
    width: 40vw;
  }


  .socialMedia a {
    font-size: 45px;
  }


  .fastContact h2 {
    font-size: 50px
  }

  label {
    font-size: 35px;
  }

  button {
    width: 120px;
    height: 70px;
  }
}

@media (min-width : 1224px) {

  /* nav */
  a {
    font-size: 35px;
  }

  a img {
    width: 260px;
  }


  /* home */
  .welcometxt {
    top: 20vh;
    font-size: 60px;
  }

  /* III */
  .work h1 {
    font-size: 60px;
  }

  .work {
    height: 120vh;
  }

  .work p {
    font-size: 20px;
  }

  .work h2 {
    font-size: 30px;
  }

  .photoWork div {
    width: 56vh;
    height: 90vh;
  }

  .photoWork img {
    width: 350px
  }

  footer {
    font-size: 17px;
  }

  /* part About  */
  .about {
    height: 80vh;
  }

  .introduction p {
    font-size: 23px;
  }

  /* part news */
  .news p {
    font-size: 24px;
    line-height: 40px;
  }

  /* part contact */

  button {
    width: 120px;
    height: 70px;
  }
}

/* mobile */
@media (max-width : 768px) {
  .bars {
    display: block;
  }

  .navClassic {
    display: none;
  }

  .navMobile {
    display: block;
    position: fixed;
    z-index: 1;
    background-color: #00004F;
    width: 100vw;
    height: 330px;
    transition: .2 linear;
  }

  ul.navList {
    display: flex;
    flex-direction: column;
  }

  li.mob {
    list-style: none;
    flex-basis: 20%;
    padding: 10px;
  }

  a {
    display: block;
    font-size: 35px;
    text-decoration: none;
    text-align: center;
    color: white;
    font-weight: bold;

  }

  a.active {
    color: rgb(91, 230, 27)
  }

  .bars {
    position: fixed;
    font-size: 35px;
    color: rgb(152, 193, 255);
    top: 10px;
    right: 50px;
    z-index: 2
  }

  .bars.on {
    top: 300px;
    padding-top: 5px;
  }

  .navMobile.on {
    top: -300px;
    transition: .2s linear
  }

  li.mob:nth-child(5) {
    padding: 0px;
    padding-bottom: 20px;
    background-color: white;
  }

  li.mob img {
    width: 250px;
  }

  /* II */
  .welcometxt {
    top: 18vh;
  }

  /* III */
  .work {
    height: 200vh
  }

  .work p {
    font-size: 25px;
  }

  .work h2 {
    font-size: 35px;
  }

  .photoWork {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 180vh;
  }

  .photoWork div {
    width: 65vw;
    height: 55vh;
    margin: 20px;
  }

  .photoWork img {
    width: 340px;
    padding-top: 13px;
  }


  /* part About  */
  .about {
    height: 40vh;
  }

  .aboutTxt {
    top: 8vh;
  }


  /* part news */
  .news p {
    font-size: 22px;
  }

  .news h2 {
    padding-top: 30px;
  }

  .news img {
    width: 600px;
  }

  /* part contact */
  .contact {
    width: 100%;
    height: 50vh;
  }

  .contact h2 {
    margin-top: 50px;
    padding: 10px;
    font-size: 28px;
  }


  .container {
    padding: 40px;
  }

  .socialMedia {
    width: 40vw;
  }

  .fastContact h2 {
    font-size: 30px;
  }

  input {
    width: 250px;
  }
}



@media (max-width : 375px) {
  .navMobile {
    height: 210px;
    transition: .2 linear;
  }

  li.mob {
    padding: 5px;
  }

  a {
    font-size: 20px;
  }

  .bars .fas {
    font-size: 40px;
    z-index: 2
  }

  .bars {
    top: 10px;
    right: 25px;
  }

  .bars.on {
    top: 155px;
    right: 25px;
    padding-top: 5px;
  }


  li.mob:nth-child(5) {
    padding-bottom: 13px;
  }

  li.mob img {
    width: 120px;
  }

  /* II  */
  .welcome {
    width: 100%;
    height: 80vh;
  }

  .welcometxt {
    top: 10vh;
    font-size: 32px;
  }

  .welcometxt p {
    font-size: 22px;
    margin: 10px 5px;
  }

  /* III */
  .work {
    height: 280vh
  }


  .work p {
    font-size: 18px;
  }

  .work h1 {
    font-size: 40px;
    padding-left: 33px;
  }

  .work h2 {
    font-size: 28px;
  }


  .photoWork div {
    width: 90vw;
    height: 80vh;
    margin: 20px;
  }

  .photoWork img {
    width: 280px;
    padding-top: 8px;
  }


  /* part About  */
  .about {
    height: 60vh;
    background-position: 38% 0%;
  }

  .aboutTxt {
    top: 20vh;
    font-size: 30px;
  }

  /* III */
  .introduction h1 {
    font-size: 38px;
    padding-left: 10px;
  }

  .introduction p {
    margin: auto 10px auto 10px;
    padding-top: 5px;
    font-size: 18px;
  }


  /* part news */
  .news h1 {
    font-size: 30px;
    padding-left: 10px;
  }

  .news h2 {
    margin: 0 5px;
    font-size: 15px;
  }

  .news p {
    margin: 0 5px;
    padding-top: 5px;
    font-size: 20px;
    line-height: 38px;
  }

  .news img {
    margin: 5px 5px;
    width: 320px;
    height: 200px;
    ;
  }

  .actualNews {
    margin: 15px;

  }

  .newsFlex {
    padding-top: 15px;
  }

  /* part contact */
  .contact {
    height: 70vh;
  }

  .contactTxt {
    position: absolute;
    width: 100vw;
    height: 100%;
    padding: 20px 20px;
    text-align: center;
    top: 0;
    left: 0;
    font-size: 18px;
    text-align: center;
    color: white;
    background-color: rgba(0, 0, 0, 65%);
    text-shadow: 2px 2px 4px black
  }

  .fa-phone {
    font-size: 30px;
  }

  .fa-at {
    display: none;
  }

  .titleContact {
    padding-top: 30px;
    font-size: 38px;
    padding-left: 10px;
  }

  .container {
    flex-direction: column;
    padding: 5px;
  }

  .socialMedia {
    width: 100vw;
    margin: 5px;
  }

  .socialMedia a {
    font-size: 28px;
  }

  i {
    font-size: 50px;
  }

  /* form */
  aside {
    padding-top: 30px;
    margin: 5px;
  }

  .fastContact h2 {
    font-size: 28px;

  }

  label {
    font-size: 20px;
    color: #00004F;
  }


  input {
    width: 280px;
    height: 40px;
  }

  button {
    width: 80px;
    height: 50px;
    margin-top: 5px 30px 100px 10px;
    color: #00004F;
    text-transform: uppercase;
    font-size: 27px;
  }
}

@media (max-width: 738px) and (orientation: landscape) {
  .navMobile {
    height: 210px;
    transition: .2 linear;
  }

  li.mob {
    padding: 5px;
  }

  a {
    font-size: 20px;
  }

  .bars .fas {
    font-size: 40px;
    z-index: 2
  }

  .bars {
    top: 10px;
    right: 25px;
  }

  .bars.on {
    top: 155px;
    right: 25px;
    padding-top: 5px;
  }


  li.mob:nth-child(5) {
    padding-bottom: 13px;
  }

  li.mob img {
    width: 120px;
  }

  /* II  */
  .welcome {
    width: 100%;
    height: 100vh;
  }

  .welcometxt {
    top: 10vh;
    font-size: 32px;
  }

  .welcometxt p {
    font-size: 22px;
    margin: 10px 5px;
  }

  /* III */
  .work {
    height: 450vh
  }


  .work p {
    font-size: 18px;
  }

  .work h1 {
    font-size: 40px;
    padding-left: 33px;
  }

  .work h2 {
    font-size: 28px;
  }


  .photoWork div {
    width: 85vw;
    height: 150vh;
    margin: 20px;
  }

  .photoWork img {
    width: 300px;
    padding-top: 8px;
  }


  /* part About  */
  .about {
    height: 60vh;
    background-position: 38% 0%;
  }

  .aboutTxt {
    top: 20vh;
    font-size: 30px;
  }

  /* III */
  .introduction h1 {
    font-size: 38px;
    padding-left: 10px;
  }

  .introduction p {
    margin: auto 10px auto 10px;
    padding-top: 5px;
    font-size: 18px;
  }


  /* part news */
  .news h1 {
    font-size: 30px;
    padding-left: 10px;
  }

  .news h2 {
    margin: 0 5px;
    font-size: 15px;
  }

  .news p {
    margin: 0 5px;
    padding-top: 5px;
    font-size: 20px;
    line-height: 38px;
  }

  .news img {
    margin: 5px 5px;
    width: 320px;
    height: 200px;
    ;
  }

  .actualNews {
    margin: 15px;

  }

  .newsFlex {
    padding-top: 15px;
  }

  /* part contact */
  .contact {
    height: 70vh;
  }

  .contactTxt {
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 20px 20px;
    text-align: center;
    top: 0;
    left: 0;
    font-size: 18px;
    text-align: center;
    color: white;
    background-color: rgba(0, 0, 0, 65%);
    text-shadow: 2px 2px 4px black
  }

  .fa-phone {
    font-size: 30px;
  }

  .fa-at {
    display: none;
  }

  .titleContact {
    padding-top: 30px;
    font-size: 38px;
    padding-left: 10px;
  }

  .container {
    flex-direction: column;
    padding: 5px;
  }

  .socialMedia {
    width: 100vw;
    margin: 5px;
  }

  .socialMedia a {
    font-size: 28px;
  }

  i {
    font-size: 50px;
  }

  /* form */
  aside {
    padding-top: 30px;
    margin: 5px;
  }

  .fastContact h2 {
    font-size: 28px;

  }

  label {
    font-size: 20px;
    color: #00004F;
  }

  input {
    width: 280px;
    height: 40px;
  }

  button {
    width: 80px;
    height: 50px;
    margin-top: 5px 30px 100px 10px;
    color: #00004F;
    text-transform: uppercase;
    font-size: 27px;
  }
}